* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(0deg, #1c6708 0%, #0aaf25 50%, #1c6708 100%);
  color: #fafafa
}

body > main {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
